@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  --header-height: 3rem;
  /* -----Colors----- */
  --main-color: white;
  --second-color: #7367f0;
  --dark-bg-color: #25293c;
  --text-color: #2f2b3dad;
  --title-text-color: #2f2b3dc7;
  --theme-dark: #2f3349;

  /* -----Typography----- */
  --body-font: "poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: 0.75rem;
  --h5-font-size: 0.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* -----font-weight----- */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* -----margin & padding----- */
  --md-1: 0.5rem;
  --md-2: 1rem;
  --md-3: 1.5rem;
  --md-4: 2rem;
  --md-5: 2.5rem;
  --md-6: 3rem;
  /* -----z-index----- */
  --z-tooltip: 10;
  --z-fixed: 100;
  /* -----base css----- */
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--body-font);
  line-height: 28px;
  overflow-x: hidden;
}
img {
  vertical-align: middle;
  height: auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration: none;
  color: var (var(--white-color));
}
ul,
ol {
  list-style: none;
}
button:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
