body {
  direction: ltr;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
h1 {
  padding: 0;
  color: #33303cde;
  font-size: 24px;
  font-weight: 600;
}
h5 {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
}
p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.img-container {
  float: left;
  width: 65%;
  height: 600px;
  background-color: #f8f7fa;
  border-radius: 10px;
  margin: 30px 25px;
}
.img-container-box {
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 470px;
  height: 570px;
  margin-top: 60px;
  margin-left: 170px;
}
.form-container {
  float: right;
  width: 30%;
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
  font-size: 14px;
}
.form-container-box {
  max-width: 350px;
  width: 100%;
  align-items: left;
  flex-direction: column;
  background-color: #ffff;
  padding: 0;
}
.login-logo-img {
  background-image: url("../img/logo.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
.alert-container {
  background-color: #efedfd;
  color: #7367f0;
  border-radius: 6px;
  padding: 4px 20px;
}
.alert-container p {
  color: #7367f0;
  font-size: 11px;
}
.alert-text {
  font-size: 10px;
  color: #7367f0;
  font-weight: 700;
}
.field {
  margin: 20px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
input {
  padding: 18px 40px 18px 10px;
  font-size: 12px;
  width: 22rem;
  height: 1.2rem;
  outline: none;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
}

.input-label {
  position: absolute;
  left: 13px;
  padding-bottom: 15px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 12px;
  color: #999;
  padding-top: 0px;
}

input::placeholder {
  visibility: hidden;
}

input:not(:placeholder-shown) + label {
  transform: translateY(-5px);
  font-size: 11px;
}

input:not(:placeholder-shown) {
  padding-top: 30px;
  padding-bottom: 12px;
  width: 100%;
}

.login-button {
  text-align: center;
  width: 100%;
  padding: 4px;
  border: 1px solid transparent;
  background-color: #7367f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.login-button:hover {
  background-color: #786df1;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #e7e6e6;
}
.forgot-password {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #7367f0;
}
.justify-content-between {
  line-height: 15px;
  display: flex;
  justify-content: space-between !important;
}

.signup {
  padding-left: 8px;
  color: #3897f0;
  font-weight: 600;
}
.text-center {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #33303cad;
}
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #33303cad;
  opacity: 0.7;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background-color: #fff;
  border: 1.5px solid #33303cad;
}

.checkbox:hover input ~ .checkmark {
  background-color: #f9f9fa;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social-media-btn {
  font-size: 20px;
  text-align: center;
}
.fa:hover {
  opacity: 0.7;
}
.fa-brands {
  margin: 0 3px;
  border-radius: 6px;
  background: #e9edf6;
}
.fa-facebook-f {
  padding: 8px 12px;
  color: #4267b2;
}
.fa-google {
  padding: 8px 8px;
  color: #dd4b39;
}

.fa-twitter {
  padding: 8px 8px;
  color: #2c9be6;
}
.fa-eye-slash:before {
  font-size: 14px;
}
.eye-btn {
  position: absolute;
  padding: 9px 25px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
}

/* <===== Main.index =====> */
.main {
  background: #f8f7fa;
}

.main-wrapper {
  display: grid;
}
.header-container {
  position: fixed;
  padding-top: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

header.header {
  background: #fff;
  box-shadow: 0px 3px 3px 2px #f1f1f185;
  width: 100%;
  border-radius: 7px;
  justify-content: end;
  align-items: center;
  padding: 7px 0px 7px 15px;
}
.user-icon {
  color: #5d5a68;
}
.icon {
  display: grid;
  font-size: 20px;
  color: #5d5a68;
  text-align: center;
  align-content: center;
  width: 35px;
  height: 35px;
}
.icon:hover {
  border-radius: 50%;
  background: #f1f1f3;
  width: 35px;
  height: 35px;
}
img.avatar {
  width: 40px;
}
p.badge {
  position: absolute;
  top: 0;
  font-size: 10px;
  color: white;
  background: #ea5455;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  left: 25px;
  height: 18px;
  width: 18px;
}
ul.navbar-item {
  display: flex;
}

.user-profile-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 21px !important;
}

.nav-link.user {
  padding: 6px;
  font-size: 25px;
  color: #9999;
  position: relative;
}
.logo {
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  background: var(--sidebar-color);
  color: var (--white-color);
  padding-left: 12px;
}
.logo-text {
  font-weight: 600;
  font-size: 22px;
  color: #d0d4f1c7;
  margin-left: 10px;
  vertical-align: middle;
}
a.sidebarCollapse {
  color: #999;
  font-size: 15px;
}
/* -----dropdown menu----- */
.dropdown {
  position: relative;
}
.dropdown-menu {
  z-index: var(--z-fixed);
  max-width: 15rem;
  margin-top: 8px !important;
  right: -21px !important;
  left: auto !important;
  min-width: 22rem;
  padding: 0;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 10px 0px #ddd;
}
img.user-note {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.dp-notification-box {
  display: inline-grid;
  width: 100%;
  border-radius: 5px;
  padding: 0;
}
.dp-notification-box a {
  font-size: 13px;
  color: var(--second-color);
  width: 100%;
  white-space: initial;
  line-height: 13px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 15px;
}
.dp-notification-box a:hover p {
  color: #7367f0;
}

.dp-notification-box-title {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #2f2b3dc7;
}

.message-box {
  display: flex;
}
.note-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-notify-info {
  line-height: 18px;
}
.status-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
p.note-name {
  font-size: 15px;
  font-weight: 500;
  color: #2f2b3dc7;
  margin-bottom: 5px;
}
p.note-time {
  font-size: 13px;
  color: #2f2b3dad;
}
.dp-notification-box-buttun a {
  border-bottom: 0;
  text-align: center;
  font-size: 15px;
  color: #7367f0;
  font-weight: 500;
}
.dp-notification-box-buttun a:hover {
  background: #f4f3fe;
}
/* category-icon */

.dp-shortcut-box-title {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  color: #2f2b3dc7;
}
.dp-icon-box {
  text-align: center;
  justify-content: center;
}

.dp-shortcut-box-icon {
  font-size: 18px;
  width: 45px;
  height: 45px;
  color: #606161;
  background: #e2e2e3;
  border-radius: 50%;
  padding-top: 5px;
}
.dp-shortcut-box-icon::before {
  vertical-align: -webkit-baseline-middle;
}

.shortcut-box a {
  font-size: 13px;
  color: var(--second-color);
  width: 50%;
  white-space: initial;
  line-height: 13px;
  border-top: 1px solid #ddd;
  align-items: center;
  padding: 10px;
  border-left: 0.5px solid #ddd;
}
.shortcut-box-icon-container {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  flex-wrap: wrap;
}
.shortcut-box-icon-container a:nth-child(odd) {
  border-left: none;
}
img.user-note2 {
  background-color: #efeff0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
}
.icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
p.note-name2 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 4px;
  color: #2f2b3dc7;
}
p.note-time2 {
  font-size: 13px;
  margin: 5px;
  color: #2f2b3dad;
}
.shortcut-box a:nth-child(5) {
  border-bottom: 0;
}
.shortcut-box a:nth-child(6) {
  border-bottom: 0;
}

/* -----user-icon----- */
.dp-user-box {
  display: inline-grid;
  width: 100%;
  padding-top: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #ddd;
}
.dp-user-box a {
  font-size: 15px;
  color: #2f2b3dc7;
  width: 100%;
  white-space: initial;
  line-height: 13px;
  align-items: center;
  padding: 10px 10px 13px 25px;
}
.dp-user-box a span {
  margin-right: 10px;
}
.account-box {
  z-index: var(--z-fixed);
  max-width: 15rem;
  right: -21px !important;
  left: auto !important;
  min-width: 14rem !important;
  padding: 0;
  border-radius: 5px;
}
.dp-user-box a:nth-child(5) {
  border-top: 1px solid #ddd;
}

/* ------Sidebar------ */
.nav-header {
  position: relative;
  display: flex;
  align-items: center;
}
.left-menu {
  height: 100vh;
  width: 260px;
  position: fixed;
  box-shadow: 3px -1px 19px 1px #efeeee;
  overflow-y: scroll;
  transition: 0.5s;
  margin-top: 0px;
  background: var(--theme-dark);
  padding: 6px 14px;
}
nav.animated {
  position: relative;
}
.left-menu::-webkit-scrollbar {
  width: 6px;
}
.left-menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(71, 77, 109);
}
ul#sidebar {
  margin: 0;
  padding: 0;
}
ul#sidebar li {
  margin: 5px 0;
  transition: 0.3s;
  border-radius: 7px;
}
ul#sidebar li a {
  display: block;
  padding: 5px 20px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 300;
  color: #d0d4f1ad;
  border-radius: 8px;
}
ul#sidebar li a:hover {
  color: #d0d4f1c7;
  background: #3c4056;
}
li.active a {
  background: #6860c8;
}
ul#sidebar li.active a:hover {
  color: #d0d4f1c7;
  background: #6860c8;
}
ul#sidebar li a i {
  padding-right: 9px;
  font-size: 17px;
  color: #d0d4f1ad;
}
ul#sidebar li.active a {
  color: #fff;
}
.title-text {
  padding: 5px 20px;
  color: #d0d4f16b;
}
.sub-menu {
  text-align-last: justify;
}
.left-menu.hide {
  width: 85px;
  padding: 0;
}
/* <======content-wrapper=====> */
.content-wrapper {
  display: grid;
  margin-top: 110px;
  margin-left: 280px;
  margin-right: 20px;
  transition: 0.5s;
  grid-gap: 22px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.card-box {
  line-height: 2.5;
  border-radius: 7px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0px;
}
.card-box-texts p {
  color: var(--text-color);
  font-size: 15px;
}
.card-box-num {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-box-num p {
  color: var(--title-text-color);
  font-size: 22px;
  font-weight: 500;
}
.card-box-positive {
  color: #28c76f;
  font-size: 15px;
}
.card-box-negative {
  color: #ea5455;
  font-size: 15px;
}

.card-box-icon {
  display: grid;
  align-content: center;
  text-align: center;
  align-self: flex-start;
  color: #7367f0;
  width: 35px;
  height: 35px;
  background: #e9e7fd;
  border-radius: 6px;
}
/* <=== User list ====> */
.order-list {
  margin-right: 10px;
  margin-left: 270px;
  background: #fff;
  box-shadow: 0px 3px 3px 2px #f1f1f185;
  border-radius: 7px;
}
.order-ac-title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
}
#table_id_wrapper {
  display: flex;
  flex-wrap: wrap;
}
#table_id_length {
  width: 50% !important;
  margin-left: 20px;
  align-self: center;
}
#table_id_filter {
  width: 46% !important;
  margin-right: 20px;
}

/* <===sidebar toggle====> */

.content-wrapper.hide {
  margin-left: 110px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.left-menu.hide .logo-text {
  display: none;
}
.left-menu.hide li span {
  display: none;
}
.left-menu.hide li .fa-angle-right {
  display: none;
}
.left-menu.hide .title-text {
  display: none;
}
.left-menu .hidden-title-text {
  display: none;
}
.left-menu.hide .header-container {
  margin: 20px 20px 20px 0 !important;
}
.left-menu.hide .hidden-title-text {
  display: block;
  font-size: 20px;
  color: #51556c;
  text-align: center;
}
.left-menu.hide .nav-header {
  display: block;
  text-align-last: center;
}
.left-menu.hide ul#sidebar li a {
  padding: 5px;
  text-align-last: center;
  border-radius: 5px;
}
.left-menu.hide ul#sidebar li a i {
  padding: 0;
}
.left-menu.hide ul#sidebar {
  padding: 0;
}
.left-menu.hide .d-flex {
  display: block !important;
  text-align: center;
  padding-bottom: 10px;
}
.left-menu.hide .logo {
  padding: 15px 0;
}
.left-menu.hide {
  padding: 12px;
}
